/* ////////////////////////////////////////

Your custom css here

//////////////////////////////////////// */

.headline-content p {
    line-height: 2.0;
    letter-spacing: -0.2px;
    margin-bottom: 0;
}

.headline-title {
    margin-bottom: 1.0 rem;
}

.modal {
    background-color: rgba(0, 0, 0, 0.95); /* más oscuro */
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 90vh;
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 30px;
    right: 50px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.intro-small {
  font-size: 1rem;  
  line-height: 1.5;
  color: #333;     
}

::selection {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1); 
  color: inherit;
}

a, a:hover, a:focus, a:active {
  text-decoration: none !important;
  outline: none;
}

input:focus, textarea:focus {
  outline: none;
  box-shadow: none;
}


